<template>
<div>
  <h1> {{course.title}} </h1>
  <p>{{course.desc}}</p>
  <ul>
    <li v-for="(part,index) in course.part" :key=index>
      <h3>{{part.title}}</h3>
    </li>
  </ul>
  <p v-html="displayed_part"></p>
  <v-btn color="success" :disabled="first" @click.prevent="part_number-=1">previous</v-btn>
  <v-btn color="success" :disabled="last" @click.prevent="part_number+=1">next</v-btn>
</div>
</template>

<script>
import _ from 'lodash';

export default {
  data() {
    return {
      part_number: 0,
    };
  },
  computed: {
    id() {
      return this.$route.params.id;
    },
    first() {
      if (this.part_number == 0) {
        return true
      } else {
        return false
      }
    },
    last() {
      if (this.part_number == (this.course.part.length-1)) {
        return true
      } else {
        return false
      }
    },
    course() {
      const courses = this.$store.getters.getCourses;
      const courseObj = _.find(courses, {
        id: this.id,
      });
      if (!courseObj.hasOwnProperty('part')) {
        this.$store.dispatch('set_part', {
          id: this.id,
          course: courseObj,
        });
      }
      return courseObj;
    },
    displayed_part() {
      return this.course.part[this.part_number].part;
    },
  },
  created() {

  },

};
</script>

<style scoped>

</style>
