<template>
<div>
    <h1>Курсы</h1>
    <div v-for="course in coursesObj" :key="course.id">
        <h2>{{course.title}}</h2>
        <p> {{course.desc}} </p>
        <span> {{course.author}} </span>
        <router-link :to=course.id append>Go</router-link>
    </div>
</div>
</template>

<script>
import Vue from 'vue';
import firebase from 'firebase';
import _ from 'lodash';

export default {
  data() {
    return {
    };
  },
  computed: {
    coursesObj() {
      const obj = this.$store.getters.getCourses;
      return obj;
    },
  },


};
</script>

<style scoped>

</style>
