<template>
<div>
    <v-text-field name="part-title" label="Название раздела" v-model="part_title"></v-text-field>
    <ckeditor :editor="editor" v-model="part" :config="editorConfig" @ready="onReady"></ckeditor>
    <v-btn color="success" @click.prevent="add_part">text</v-btn>
</div>
</template>

<script>
import _ from 'lodash';
import DecoupledEditor from '@ckeditor/ckeditor5-build-decoupled-document';

export default {
  data() {
    return {
      part: '',
      part_title: null,
      editor: DecoupledEditor,
      editorConfig: {
        // toolbar: [ 'bold', 'code' ],
      },
    };
  },
  computed: {
    id() {
      return this.$route.params.id;
    },
    course() {
      const courses = this.$store.getters.getCourses;
      const courseObj = _.find(courses, {
        id: this.id,
      });
      if (!courseObj.hasOwnProperty('part')) {
        this.$store.dispatch('set_part', {
          id: this.id,
          course: courseObj,
        });
      } else {
        console.log('exist');
      }
      return courseObj;
    },

  },
  methods: {
    add_part() {
      const vm = this;
      this.$store.dispatch('add_part', {
        id: this.id,
        part: {
          part: this.part,
          title: this.part_title,
        },
        course: this.course,
      });
    },
    onReady(editor) {
      // Insert the toolbar before the editable area.
      editor.ui.view.editable.element.parentElement.insertBefore(
        editor.ui.view.toolbar.element,
        editor.ui.view.editable.element,
      );
    },
  },
};
</script>

<style scoped>

</style>
