<template>
<div>
    <h2>{{test.title}}</h2>
    <add-question></add-question>
</div>
</template>

<script>
import _ from 'lodash';
import AddQuestion from "@/components/AddQuestion"

export default {
    data() {
        return {}
    },
    components:{
        AddQuestion
    },
    computed: {
        id() {
            return this.$route.params.id;
        },
        test() {
            const test = this.$store.getters.getTestList;
            const testObj = _.find(test, {
                id: this.id,
            });
            return testObj;
        },

    },
    methods: {},
};
</script>

<style scoped>

</style>
