<template>
<div>
  <h1>Home page </h1>
  <ul>
    <li>student@gmail.com : student</li>
    <li>teacher@gmail.com : teacher</li>
    <li>admin@gmail.com : admin1</li>
  </ul>
  <div model="user.isAuthenticated">
    {{user.firstName}}
  </div>
</div>
</template>

<script>
import Vue from 'vue';

export default {
  name: 'home',
  components: {},
  data() {
    return {};
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
  },
};
</script>
