<template>
<v-content>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md6>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login form</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-alert :value="error" type="warning">
              {{error}}
            </v-alert>
            <v-btn @click.prevent="asStudent">Student</v-btn>
            <v-btn @click.prevent="asTeacher">Teacher</v-btn>
            <v-btn @click.prevent="asAdmin">Admin</v-btn>
            <v-form>
              <v-text-field prepend-icon="person" name="login" label="Email" type="email" required="" v-model="email"></v-text-field>
              <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="password" required=""></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click.prevent="login" :disabled="processing">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-content>
</template>

<script>
export default {
  data() {
    return {
      email: null,
      password: null,
    };
  },
  computed: {
    error() {
      return this.$store.getters.getError;
    },
    processing() {
      return this.$store.getters.getProcessing;
    },
    auth() {
      return this.$store.getters.getAuth;
    },
  },
  watch: {
    auth(val) {
      if (val === true) {
        this.$router.push('/');
      }
    },
  },
  methods: {
    login() {
      this.$store.dispatch('login', {
        email: this.email,
        password: this.password,
      });
    },
    asAdmin() {
      this.email = 'admin@gmail.com';
      this.password = 'admin1';
      this.login();
    },
    asStudent() {
      this.email = 'student@gmail.com';
      this.password = 'student';
      this.login();
    },
    asTeacher() {
      this.email = 'teacher@gmail.com';
      this.password = 'teacher';
      this.login();
    },
  },
};
</script>
