<template>
<div>
    <h1>Profile {{user.firstName}}</h1>
    <h2>Group {{user.group}}</h2>
    <h2>{{user.role}}</h2>
    <component :is="user.role"></component>
</div>
</template>

<script>
import firebase from 'firebase';
import Vue from 'vue';
import Teacher from '@/components/Teacher';
import Admin from '@/components/Admin';
import Student from '@/components/Student';

export default {
  data() {
    return {

    };
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },

  },
  components: {
    Teacher,
    Admin,
    Student,
  },
};
</script>

<style scoped>

</style>
