<template>
<v-content>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md6>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login form</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-alert :value="error" type="warning">
              {{error}}
            </v-alert>
            <v-alert :value="uid" type="success">
              {{uid}}
            </v-alert>
            <v-form>
              <v-text-field prepend-icon="person" name="first_name" label="First Name" type="text" v-model="first_name" required=""></v-text-field>
              <v-text-field prepend-icon="person" name="last_name" label="Last Name" type="text" v-model="last_name" required=""></v-text-field>
              <v-text-field prepend-icon="person" name="group" label="Group" type="text" required="" v-model="group"></v-text-field>
              <v-text-field prepend-icon="person" name="login" label="Email" type="email" required="" v-model="email"></v-text-field>
              <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="password" required=""></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click.prevent="signup" :disabled="processing">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-content>
</template>

<script>
export default {
  data() {
    return {
      email: null,
      password: null,
      first_name: null,
      last_name: null,
      group: null,
    };
  },
  computed: {
    error() {
      return this.$store.getters.getError;
    },
    processing() {
      return this.$store.getters.getProcessing;
    },
    uid() {
      return this.$store.getters.getUID;
    },
    auth() {
      return this.$store.getters.getAuth;
    },
  },
  watch: {
    auth(val) {
      if (val === true) {
        this.$router.push('/');
      }
    },
  },
  methods: {
    signup() {
      this.$store.dispatch('signup', {
        email: this.email,
        password: this.password,
        first_name: this.first_name,
        last_name: this.last_name,
        group: this.group,
      });
    },
  },
};
</script>
