<template>
<div>
    <h1>Тесты</h1>
    <div v-for="test in testArr" :key="test.id">
      <h3>{{test.title}}</h3>
    </div>
</div>
</template>

<script>
export default {
  created() {
    this.$store.dispatch("get_testList")
  },
  computed:{
    testArr(){
      return this.$store.getters.getTestList
    }
  }
};
</script>

<style scoped>

</style>
