<template>
<div>
  <v-layout row>
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-btn slot="activator" color="primary" dark>Добавить курс</v-btn>
      <v-card>
        <v-card-title>
          <span class="headline">Добавить курс</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex md12>
                <v-text-field v-model="id" label="Идентификатор курса" required></v-text-field>
              </v-flex>
              <v-flex md12>
                <v-text-field v-model="title" label="Название курса" required></v-text-field>
              </v-flex>
              <v-flex md12>
                <v-textarea v-model="desc" label="Описание курса"></v-textarea>
              </v-flex>
              <v-flex md12>
                <v-select v-model="group" :items="groupList" :menu-props="{ maxHeight: '400' }" label="Група" multiple chips></v-select>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click="add_course">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</div>
</template>

<script>
export default {
  data() {
    return {
      title: null,
      desc: null,
      group: null,
      id: null,
      dialog: false,
    };
  },
  methods: {
    add_course() {
      this.$store.dispatch('add_course', {
        id: this.id,
        title: this.title,
        desc: this.desc,
        group: this.group,
        author: (`${this.user.lastName} ${this.user.firstName}`),
      });
      this.dialog = false;
      this.$router.push('/course/'+this.id+'/edit');

    },
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
    groupList() {
      return this.$store.getters.getGroupList;
    },
  },
  created() {
    this.$store.dispatch('get_groupList');
  },
};
</script>

<style scoped>

</style>
