<template>
<div>
    <v-layout row>
        <v-dialog v-model="dialog" persistent max-width="500px">
            <v-btn slot="activator" color="primary" dark>Add question</v-btn>
            <v-card>
                <v-card-title>
                    <span class="headline">Добавить вопрос в тест</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex md12>
                                <v-text-field v-model="question" label="Вопрос" required></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-radio-group v-model="type">
                                    <v-radio v-for="(type, index) in typeArr" :key="index" :label="type" :value="type"></v-radio>
                                </v-radio-group>
                            </v-flex>
                            <v-flex v-if="type=='radio'" sm12>
                                <v-radio-group v-model="answer">
                                    <v-radio v-for="variant in variantArr" :key='variant' :label="variant" :value="variant"></v-radio>
                                </v-radio-group>
                            </v-flex>
                            <v-flex v-if="type=='checkbox'" sm12>
                                <v-checkbox v-model="answer" v-for="variant in variantArr" :key='variant' :label="variant" :value="variant"></v-checkbox>
                            </v-flex>
                            <v-flex v-if="isVariant" md12>
                                <v-text-field type="text" v-model="variant" label="Вариант ответа" required></v-text-field>
                                <v-btn color="success" @click.prevent="add_variant">add variant</v-btn>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click="add_question">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</div>
</template>

<script>
export default {
    data() {
        return {
            dialog: false,
            typeArr: ["radio", "checkbox", "input"],
            question: null,
            type: null,
            variantArr: [],
            variant: null,
            answer: []
        };
    },
    computed: {
        isVariant() {
            if (this.type == "radio" || this.type == "checkbox") {
                this.answer = []
                return true
            } else {
                return false
            }
        }
    },
    methods: {
        add_question() {
            this.dialog = false;
        },
        add_variant() {
            this.variantArr.push(this.variant)
            this.variant = null
        }
    },
};
</script>

<style scoped>

</style>
