<template>
<div>
    <div>
        <v-layout row>
            <v-dialog v-model="dialog" persistent max-width="500px">
                <v-btn slot="activator" color="primary" dark>Добавить тест</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">Добавить тест</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex md12>
                                    <v-text-field v-model="id" label="Идентификатор тест" required></v-text-field>
                                </v-flex>
                                <v-flex md12>
                                    <v-text-field v-model="title" label="Название теста" required></v-text-field>
                                </v-flex>
                                <v-flex md12>
                                    <v-textarea v-model="desc" label="Описание теста"></v-textarea>
                                </v-flex>
                                <v-flex md12>
                                    <v-select v-model="group" :items="groupList" :menu-props="{ maxHeight: '400' }" label="Група" multiple chips></v-select>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                        <v-btn color="blue darken-1" flat @click="add_test">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            dialog: false,
            id: null,
            title: null,
            desc: null,
            group: null
        }
    },
    methods: {
        add_test() {
            this.$store.dispatch('add_test', {
                id: this.id,
                title: this.title,
                desc: this.desc,
                group: this.group,
                author: (`${this.user.lastName} ${this.user.firstName}`),
            });
            this.dialog = false
        },
        
    },
    created(){
        this.$store.dispatch("get_testList")

    },
    computed: {
        groupList() {
            return this.$store.getters.getGroupList;
        },
        user() {
            return this.$store.getters.getUser;
        },
    }

}
</script>

<style scoped>

</style>