<template>
<div>
    <v-layout row>
        <v-dialog v-model="dialog" persistent max-width="500px">
            <v-btn slot="activator" color="primary" dark>Add user</v-btn>
            <v-card>
                <v-card-title>
                    <span class="headline">Добавить пользователя</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex md12>
                                <v-text-field v-model="first_name" label="Имя" required></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="last_name" label="Фамилия" required></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="email" label="E-Mail" required></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="password" label="Пароль" required></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="role" label="Роль"></v-text-field>
                            </v-flex>
                            <v-flex md12>
                                <v-text-field v-model="group" label="Група"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="dialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" flat @click="add_user">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      dialog: false,
      email: null,
      password: null,
      first_name: null,
      last_name: null,
      role: null,
      group: null,
    };
  },
  methods: {
    add_user() {
      this.$store.dispatch('add_user', {
        email: this.email,
        password: this.passwrod,
        first_name: this.first_name,
        last_name: this.last_name,
        role: this.role,
        group: this.group,
      });
      this.dialog = false;
    },
  },
};
</script>

<style scoped>

</style>
