<template>
<div>
    <h2>Admin Profile</h2>
    <div v-for="user in userList" :key="user.uid">
        <h3>{{user.first_name}} {{user.last_name}}</h3>
        <v-btn color="success" @click.prevent="delete_user(user.uid)">delete user</v-btn>
        <add-user></add-user>
    </div>
    <add-user></add-user>
</div>
</template>

<script>
import firebase from 'firebase';
import axios from 'axios';
import AddUser from '@/components/AddUser';

export default {
  data() {
    return {};
  },
  computed: {
    userList() {
      return this.$store.getters.getUserList;
    },
  },
  created() {
    this.$store.dispatch('get_userList_server');
  },
  components: {
    AddUser,
  },
  methods: {
    delete_user(uid) {
      this.$store.dispatch('delete_user', {
        uid,
      });
    },
  },
};
</script>

<style scoped>

</style>
