<template>
<div>
    <v-navigation-drawer absolute temporary v-model="drawer" class="hidden-md-and-up">
        <v-list>
            <v-list-tile v-for="(item,i) in menuItems" flat :key="`navdrawer${i}`">
                <v-list-tile-action>
                    <v-icon left v-html="item.icon"></v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{item.title}}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
    <v-toolbar app dark class="primary">
        <v-toolbar-side-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"></v-toolbar-side-icon>
        <router-link tag="span" class="home-page" to="/">
            <v-toolbar-title v-text="'Дистанционное образование'"></v-toolbar-title>
        </router-link>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn v-for="(item,i) in menuItems" flat :key="`menuitem${i}`" :to="item.route">
                <v-icon left v-html="item.icon"></v-icon>
                {{item.title}}
            </v-btn>
            <v-btn flat v-if="auth" @click.prevent='signout'>
                <v-icon left>exit_to_app</v-icon>
                Выйти
            </v-btn>
        </v-toolbar-items>
    </v-toolbar>
</div>
</template>
<script>
export default {
  data() {
    return {
      drawer: false,
    };
  },
  computed: {
    auth() {
      return this.$store.getters.getAuth;
    },
    menuItems() {
      return this.auth
        ? [{
          icon: 'import_contacts',
          title: 'Курсы',
          route: '/course',
        },
        {
          icon: 'assignment',
          title: 'Тесты',
          route: '/test',
        },
        {
          icon: 'supervised_user_circle',
          title: 'Профиль',
          route: '/profile',
        },


        ] : [{
          icon: 'input',
          title: 'Войти',
          route: '/login',
        },
        {
          icon: 'lock_open',
          title: 'Зарегистрироваться',
          route: '/signup',
        },
        ];
    },
  },
  methods: {
    signout() {
      const vm = this;
      this.$confirm('Do you really want to exit?').then((res) => {
        if (res) { vm.$store.dispatch('signout'); }
      });
    },
  },
};
</script>
<style scoped>
span.home-page {
    cursor: pointer;
}
</style>
