<template>
<div>
    <h1>Курсы с моим авторством</h1>
    <div v-for="course in courses" :key="course.id">
        <h2>{{course.title}}</h2>
        <v-btn color="warning" @click.prevent="delete_course(course.id)">Удалить курс</v-btn>
        <router-link :to="{path:('course/'+course.id+'/edit'), params:{course:course}}">Перейти к редактированию</router-link>
    </div>
    <h1>Тесты с моим авторством</h1>
    <div v-for="test in tests" :key="test.id">
        <h2>{{test.title}}</h2>
        <v-btn color="warning" @click.prevent="delete_test(test.id)">Удалить тест</v-btn>
        <router-link :to="{path:('test/'+test.id+'/edit'), params:{test:test}}">Перейти к редактированию</router-link>
    </div>
</div>
</template>

<script>
import _ from 'lodash';

export default {
  data() {
    return {};
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
    courses() {
      const obj = this.$store.getters.getCourses;
      return _.filter(obj, {
        author: (`${this.user.lastName} ${this.user.firstName}`),
      });
    },
    tests() {
      const obj = this.$store.getters.getTestList;
      return _.filter(obj, {
        author: (`${this.user.lastName} ${this.user.firstName}`),
      });
    },
  },
  methods: {
    delete_course(id) {
      this.$store.dispatch('delete_course', {
        id,
      });
    },
  },
};
</script>

<style scoped>

</style>
