<template>
<div>
    <h2>Курсы, открытые для меня</h2>
    <div v-for="course in courses" :key="course.id">
        <h3>{{course.title}}</h3>
        <router-link :to="{path:'course/'+course.id}">go</router-link>
    </div>
</div>
</template>

<script>
import _ from 'lodash';

export default {
  data() {
    return {};
  },
  computed: {
    courses() {
      const obj = this.$store.getters.getCourses;
      const objArr = [];
      const group = this.$store.getters.getUser.group;
      obj.forEach((element) => {
        if (element.group.includes(group)) {
          objArr.push(element);
        }
      });
      return objArr;
    },
  },
  created() {},
};
</script>

<style scoped>

</style>
