<template>
<div>
  <add-course></add-course>
  <add-test></add-test>
  <autorship></autorship>
</div>
</template>

<script>
import AddCourse from '@/components/AddCourse';
import Autorship from '@/components/Autorship';
import AddTest from '@/components/AddTest'

export default {
  data() {
    return {};
  },
  computed: {
    user() {
      return this.$store.getters.getUser;
    },
    isTeacher() {
      if (this.user.role == 'teacher') {
        return true;
      }
      return false;
    },

  },
  methods: {},
  components: {
    AddCourse,
    Autorship,
    AddTest
  },

};
</script>

<style scoped>

</style>
